<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
	<bean id="pedidosDao" class="br.net.abner.garcon.dao.impl.PedidosDaoImpl" />
	<bean id="mesaDao" class="br.net.abner.garcon.dao.impl.MesaDaoImpl" />
	<bean id="categoriaDao" class="br.net.abner.garcon.dao.impl.CategoriaDaoImpl" />
</beans>